body {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(227, 191, 236, 1) 100%);
}

nav.navbg {
	background-color: plum;
}

nav a.navbar-brand {
	background-color: rgb(151, 82, 151);
}

div.about-me,
div.portfolio {
	background-color: rgb(252, 244, 251);
}

div.portfolio-item h2 {
	position: relative;
	top: 75%;
	background-color: rgba(247, 171, 234, 0.8);
}
